
@media only screen and (min-width: 300px){
    .card{
        display: none;
    }
    .protect{
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 1px 1px 2px lightgrey;
        display: grid;
        padding: 100px 140px 140px 140px;
        z-index: 5;  
        padding-top: 80px;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 100%;
        background-image: url(http://static.tumblr.com/d40eae727a79de74c5b3c4cb5c8e9fd5/2icx37z/jJlo0ailq/tumblr_static_5fwjvs5jbosok04osco8kssos.png);
    }  
    .mobile-card{
        width: 320px;
        background-color: #ffffff;
        font-family: "Bit Light10 (sRB)";
        border: 1px solid #cecece;
        position: relative;
        transform: translateY(15%);
        height: 100%;
        box-shadow: 10px 10px 0 rgba(220,220,220,0.5);
        display: grid;
    }
    .info-mobile{
        float: left;
        height: 100%;
        width: 319px;
    }
    .mobile-htc{
        font-size: 11px;
        font-weight: bold;
        letter-spacing: 2px;
        line-height: 10px;
        color: #333;
        border-bottom: 1px solid #cecece;
        padding: 17px 20px 18px 20px;
        text-align: left;
    }
    .mobile-htc b{
        color: chocolate;
        font-size: 12px;
    }
    .mobile-htc p{
        font-size: 10px;
        margin:4px 0px;
    }
}


@media only screen and (min-width: 600px) { 
.mobile-card{
    display:none;
}

.card{
    width: 740px;
    background-color: #ffffff;
    border: 1px solid #cecece;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 400px;
    box-shadow: 10px 10px 0 rgba(220,220,220,0.5);
    border-radius: 0px;
    grid-template-columns: 180px 560px;
    display: grid;
}

.left{
    width: 180px;
    float: left;
    height: 400px;
    border-right: 1px solid #cecece;
}

.pic-av{
    display: block;
    width: 179px;
    height: 210px;
    padding: 20px;
    border-bottom: 1px solid #cecece;
}

.left-desc{
    font-family: "Bit Light10 (sRB)";
    font-size: 10px;
    padding: 35px;
    color: #333;
    height: 32px;
    overflow: hidden;
}
.desc-center{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.link1{
    font-family: "Bit Light10 (sRB)";
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-top: 1px solid #cecece;
    padding: 14px;
    color: #333;
    transition: 0.8s;
}
.right{
    float: left;
    height: 400px;
    width: 559px;
   
}
.top-link{
    position: absolute;
    float: right;
}
.top-link-si{
    float: right;
    position: absolute;
    z-index: -9;
    width: 559px;
    height: 26px;
    line-height: 26px;
}
.top-icon{
    float: right;
    height: 48px;
    line-height: 48px;
    width: 48px;
    color: #6c757d;
    border-left: 1px solid #cecece;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallerynav{
    top: 0;
    width: 145px;
    z-index: 10;
    float: right;
}
.gallerynav img {
    display: block;
    float: left;
    width: 48px;
    height: 49px;
    opacity: 0.3;
}

.top-title{
    font-family: "Bit Light10 (sRB)";
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
    color: #333;
    padding: 20px;
    border-bottom: 1px solid #cecece;
}

#mygallery{
    overflow: hidden;
}
.stepcarousel {
    position: relative;
    height: 400px;
    width: 559px;
}
.stepcarousel .panel {
    float: left;
    overflow: auto;
    width: 559px;
    height: 351px;
}

.stepcarousel .belt {
    position: absolute;
    left: 0px;
    top: 0px;
}
.htc{
    font-family: "Bit Light10 (sRB)";
    font-size: 11px;
    letter-spacing: 2px;
    line-height: 10px;
    color: #333;
    border-bottom: 1px solid #cecece;
    padding: 17px 20px 18px 20px;
    text-align: left;
}
.pic2 {
    width: 120px;
    float: left;
    padding: 20px;
    border-right: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
}
.infoBlock{
    float: left;
    height: 120px;
    width: 438px;
}
.blocka, .blockb{
    font-family: "Bit Light10 (sRB)";
    font-size: 11px;
    text-align: left;
    float: left;
    width: 219px;
    height: 39.5px;
    line-height: 40px;
    padding: 0 16px;
    color: #333;
    border-bottom: 1px solid #cecece;
}
.blocka{
    border-right: 1px solid #cecece;
}
.bio{
    margin-top: 120px;
    height: 184px;
    width: 559px;
    overflow: auto;
    float: bottom;
    font-family: "Bit Light10 (sRB)";
    font-size: 11px;
    letter-spacing: 0.px;
    color: #333;
    text-align: left;
    line-height: 14px;
}
.faq{
    border-bottom: 1px solid #cecece;
    font-family: "Bit Light10 (sRB)";
    color: #333;
    text-align: left;
    padding: 20px;
    font-size: 11px;
}
.faq b{
    color: chocolate;
    font-weight: 400;
    font-size: 12px;
}
.faq blockquote{
    border-left: 1px solid #cecece;
    padding: 0 10px;
    margin: 10px;
}
.skill {
    font-family: "Bit Light10 (sRB)";
    font-size: 10px;
    letter-spacing: 2px;
    color: #333;
    width: 33.2%;
    float: left;
    text-align: center;
    padding: 15.8px 0;
    border-bottom: 1px solid #cecece;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blb{
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
}
}
