.posts{
    display:none;
}
@media only screen and (min-width: 300px){ 

    /* individual posts */
    .posts{
        display:inherit;
    }
    .entry {
        margin:34px;
         width:350px;
        border:1px solid transparent;
        position:relative;
        text-align:left;
    } 
    
    .entry img {
        max-width:100%;
        display:block;
    }
    
    /*posts container */
     
    .posts {
        width: 100%;
        display: grid;
        grid-template-columns: 330px;
        margin: -45px -15px;
        transform: scale(.74);
        position: relative;
    }
    
    .im img {
        min-width:100%;
        height: inherit;
    }
    .im:before {
        content:'';
        opacity:0;
        position:absolute;
        height:100%;
        transition:.6s;
        width:100%;
    }
    .entry:hover .im:before {
            opacity:.992;
            transition:.6s;
            text-decoration: none;
    }
    /* hover info */
    .info {
        width: 220px;
        position: absolute;
        background: transparent;
        left: 50%;
        text-align: center;
        top: 50%;
        height: 100px;
        border: 1px solid transparent;
        margin-left: -95px;
        margin-top: -45px;
        overflow: hidden;
        /* opacity: 0; */
        transform: translate(0px, -20px);
        transition: .6s;
        line-height: 40px;
     }
     
    
     
     .entry:hover .info {
         transform:translate(0,0);
         opacity:1;
         transition:.6s;
     }
        
    .hex-icon:hover i {
        opacity: .75;
        transform: scale(1.2);
        text-decoration: none;
    }
    .info:hover a {
        text-decoration: none;
    }
    
    /*hexagon styling */
    
    .hexa, .hexa div {
      margin: 0 auto;
      transform-origin: 50% 50%;
      overflow: hidden;
      width: 300px;
      height: 300px;
    }
    .hexa {
      width: 380px;
      height: 290px;
    }
    .hexa div {
      width: 100%;
      height: 100%;
    }
    .hexa {
      transform: rotate(120deg);
    }
    .hex1 {
      transform: rotate(-60deg);
    }
    .hex2 {
      transform: rotate(-60deg);
    }
    .hexa2, .hexa2 div {
      margin: 0px auto;
      transform-origin: 50% 50%;
      overflow: hidden;
      width: 120px;
      height: 120px;
    }
    .hexa2 {
      width: 120px;
      height: 100px;
    
    }
    .hexa2 div {
      width: 100%;
      height: 100%;
    }
    
    .hex-title{
        font-family: "Bit Light10 (sRB)";
        font-size: 14.5px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #333;
    }
    .hex-icon .social{
        font-size: 40px;
    }
}
@media only screen and (min-width: 600px){ 

.entry:nth-of-type(3n + 1) {
    transform:translateX(50px) scale(1.12);
}
.entry:nth-of-type(3n + 2) {
    transform:translateY(170px) translateX(-50px) scale(1.12);
}

.entry:nth-of-type(3n + 3) {
    transform:translateX(-150px) scale(1.12);
    
}
.posts {
    width:100%;
    top:10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin:50px auto;
   transform:scale(.84);
    position:relative;
}
.info{
    opacity: 0;
}
.im:before {
    background:#f7f7f7de;
}
.hex-title{
    font-size: 11.5px;
}
.hex-icon .social{
    font-size: 22px;
}

} 