body {
    background-color: #f7f7f7;
  
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
}

.sticky {
  min-width: 150px;
  position: sticky;
  top: -20px; 
  z-index: 1;
  -webkit-backface-visibility: hidden;
  background-color: #f7f7f7;
}

.sticky::before,
.sticky::after {
  content: '';
  display: block;
  height: 16px;
  position: sticky;
}

/* SHADOW */
.sticky::before {
  top: 370px; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

/* COVER */
.sticky::after {
  background: linear-gradient(#f7f7f7 100%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.4) 70%, transparent);
  top: 0;
  z-index: 1;
}

.head {
    width: 100%;
    display: grid;
    grid-template-rows: 180px 60px 30px 170px;
    grid-template-columns: 1fr;
    position: fixed;
    background-color: #f7f7f7;
    position: sticky;
    top: 0px;
    margin-top: -16px;
    z-index: 3;
} 

.pic {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1;
}

.tri {
    object-fit: cover;
    height: 130px;
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 6px 2px lightgrey;
    border-radius: 50%;
    padding: .5rem;
}

header {
    margin: 30px 0 30px 20px;
    line-height: 40px;
    grid-row:4;
}

.bio-info {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 1px 2px lightgrey;
    display: grid;
    grid-column: repeat (4, 1fr);
    grid-row: 1fr 1fr;
    padding: 100px 140px 140px 140px;
    min-width: 200px;
    z-index: 5;  
}


.carousel-control-next-icon , .carousel-control-prev-icon{
    background-color: rgb(78, 78, 78);
    border-radius: 10%;
    opacity: .20;
    height: 50px;
}
.carousel-control-next{
    right:-35%;
}
.carousel-control-prev{
    left:-35%;
}

.carousel-inner{
    overflow: visible;
}

.carousel-item {
   border: .5px outset;
   box-shadow: 10px 10px 0 rgba(220,220,220,0.5);
}
.bio-heading{
    font-family: "EB Garamond";
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-weight: bold;
}
.about-me {
    
    font-family: "EB Garamond";
    line-height: 25px;
    font-size: 17px;
    font-weight: 400;
    color: #333333;
    display: flex;
    justify-content: center;
    min-width: 200px;
}

.links {
    height: 60px;
    display: flex;
    justify-content: center;
    grid-row: 2;
}

.social {
    margin-top: 18px;
    margin-left: 10px; 
}


h1 {
    
    font-family: "Oswald";
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    text-shadow: 7px 7px 0 #dee2e6;
}

h2 {
    font-family:'Montserrat', sans-serif;
    font-size: 1.3em;
    color: #B3B2B0;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 7px 7px 0 #dee2e6;
    display: flex;
    justify-content: center;
}



.icon:hover {
    transform: scale(.9);
    text-decoration: none;
}
.social{
    font-family: "Font Awesome 5 Brands";
    font-size: 26px;
    color: #333333;
}
.iconText {
    font-family: "Bit Light10 (sRB)";
    font-size: 11.5px;
    font-weight: bold;
    visibility: visible;
    grid-row: 3;
    display: flex;
    justify-content: center;
}

.alert {
    display: none;
    min-width: 440px;
    content: attr('Trihuynguyen14@gmail.com') ;
    font-family: Helvetica, sans-serif;
    padding: 20px;
    background-color: tomato;
    color: white;
    margin-bottom: 0px;
  }
strong{
    font-weight: bold;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 24px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
.closebtn:hover {
    color: black;
}

.email{
    display: inherit;
    visibility: hidden;
}
.posts{
    display:none;
}
.protect{
    display:none;
}



@media only screen and (min-width: 300px){
    .head {
        width: 100%;
        display: grid;
        grid-template-rows: 90px 50px 7px 70px;
        grid-template-columns: 1fr;
        position: fixed;
        background-color: #f7f7f7;
        position: sticky;
        top: 0px;
        margin-top: -16px;
        z-index: 3;
    }
    .pic{
        height:100px
    }
    .tri {
        height: 85px;
        padding: .3rem;
    }
    
    header {
        margin: 10px 0 0px 10px;
        line-height: 25px;
        
    }
    .links{
        height:35px;
    }
    
    .social {
        margin-left: 20px; 
        font-size: 22px
    }
    
    
    h1 {
        font-size: 1.2em;
        justify-content: flex-start;
        margin-bottom: 0px;
    }
    
    h2 {
        font-size: 1.3em;
        justify-content: flex-start;
    }
    

    .alert {
        display: none;
        min-width: 440px;
        font-family: Helvetica, sans-serif;
        padding: 20px;
        background-color: tomato;
        color: white;
        margin-bottom: 0px;
      }
    strong{
        font-weight: bold;
    }
    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 24px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
      }
      
    .closebtn:hover {
        color: black;
    }   
   
   
}



@media only screen and (min-width: 600px) { 
    .head {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(5, 1fr);
    } 

    header {
        grid-column: span 2;
        grid-row:1;
        margin: 30px 0 30px 20px;
        line-height: 40px;
    }
   
    .bio-info {
        padding-top: 80px;
        justify-content: center;
        align-content: center;
    }

    .carousel{
        grid-row: 2;
    }
    .one{
       display: none;
    }

    .two {
        display: flex;
    }
    .about-me {
        padding: 20px;
        
    }
    .links {
        grid-column: 5;
        grid-row: 1;
        height: 100px;
        justify-content: flex-end;
        margin: 5px 20px;
        display: grid;
        grid-template-rows: 40px;
        grid-template-columns: repeat(5, 40px);
        grid-gap: 3px;
    }  

    .icon{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .email{
        display: inherit;
        visibility: visible;
    }
    #gmail{
    visibility: hidden;
    grid-area: 1 / 5 / auto / auto;
    height: 25px;
    display: flex;
    align-self: center;
    padding: 5px;
    }
    .social{
        margin-top:0px;
        margin-left: 0px;
        height: 24px;
    }

    .git {
       grid-row: 1;
       grid-column: 1;
      }

    .over {
        grid-row: 1;
        grid-column: 2; 
    }

    .linked{
        grid-row: 1;
        grid-column: 3;  
    }
    .iconText {
        display: none;
        visibility: hidden;
        width: 180px;
        background-color: #333333;
        color: #fff;
        text-align: center;
        border-radius: 4px;
        border: 1.25px groove;
        background-color: ghostwhite;
        color: #333;
        padding: 5px 0;
        font-size: 13px;
        grid-row: 2;
        margin-left: 10px;
    } 
    .sticky {
        min-width: 153px;
        z-index: 2;
        top: -18px; 
        border-bottom: 0.1px solid #B3B2B0; 
      }
      .sticky::before {
        top: 130px; 
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
      }
      .sticky::after {
        z-index: 3;
      }
      h1{
          font-size: 2em;
      }
      h2 {
          font-size:3em;
          min-width: 600px;
      }
     
}
